<div class="login-page">
  <div class="login-content">
    <div class="image text-white p-2">Image by <a href="https://pixabay.com/users/vika_glitter-6314823/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7031048">Victoria</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7031048">Pixabay</a></div>
    <div class="login-card">
      <div class="logo">Log In</div>
      <p class="subtitle">Inicia sesión con tu cuenta institucional</p>

      <div class="google-btn-container">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="input-group">
            <label for="email">Email</label>
            <input
              type="email"
              class=""
              id="email"
              formControlName="email"
              placeholder="Ingresa tu Email"
              required
            />
            @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
              <small class="error-text">Email inválido</small>
            }
          </div>

          <div class="input-group">
            <label for="password">Contraseña</label>
            <input
              type="password"
              class=""
              id="password"
              formControlName="password"
              placeholder="Ingresa tu contraseña"
              required
            />
            @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
              <small class="error-text">La contraseña debe tener al menos 6 caracteres</small>
            }
          </div>


          <button type="submit" class="login-button" [disabled]="isLoading()">
            @if (isLoading()) {
              Iniciando sesión...
            } @else {
              Iniciar Sesión
            }
          </button>
          <div class="register-link">
            <p>¿No tienes una cuenta? <a (click)="navigateToRegister()" class="link">Regístrate aquí</a></p>
          </div>
          <hr />
          <div class="google-signin-wrapper">
            <p class="or-text">O continúa con</p>
            <div id="googleSignInButton"></div>
          </div>
        </form>
      </div>

      @if (errorMessage()) {
      <div class="error-message">
        {{ errorMessage() }}
      </div>
      }

    </div>
  </div>
</div>
